.gCard{
	margin:5px 0;
	background:#fff;
	box-shadow:0px 0px 2px 0px rgba(0,0,0,0.3);
	font-size:14px;	
	border-radius:3px;
	float:left;
	clear:both;
	width:100%;
	font-family: "Open Sans","Roboto", sans-serif;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.gCard:nth-child(odd){
	background:#f5f5f5;
}

.gCard .innerWrapper{
	padding:10px 17px;
}

.innerWrapper > div {
	margin-bottom:10px;
	float: left;
	width: 100%;
}

.gCard .post-image img{
	padding:5px;
	background:#fff;
	border:1px solid #ddd;
	width:100%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

.gCard .post-title{
	font-size:1.3em;	
	color:#777;
}