html, body{
	font-family: "Open Sans","Roboto", sans-serif;
	background:#fafafa;
}

a.iButton{
	color:#3A77A1;
	text-shadow:0px 0px 1px 0px rgba();
	font-family:"Roboto", "Open Sans", sans-serif;
	text-decoration:none;
	float:right;
	font-weight:100;
	font-size:2em;
}

#wrapper{
	width:1024px;
	height:100%;
	margin:auto;
	padding:20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#nav{
	background:darkred;
	box-shadow:0px 1px 1px 0px rgba(0,0,0,0.5);
	position:fixed;
	width:100%;
	top:0;
	margin:0;
}

#nav ul {
	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#nav ul  li{
	float: left;
	padding: 20px;
	background: darkred;
	color: #ddd;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	text-transform: uppercase;
}

#report-list{
	margin-top: 40px;
}

.clearthis{
	clear:both;
}